
<h1>Welcome to {{ scheme }}  {{qcm_server}}</h1>
<p>Site pushed with ansible  (group:{{ group_name }})</p>

{% if scheme == "http" %}
<p><a href="{{ scheme }}://{{keycloak_server}}">Keycloak</a></p>
<p><a href="{{ scheme }}://{{nexus_server}}:{{nexus_port}}/nexus">Nexus</a></p>
<p><a href="{{ scheme }}://{{qcm_server}}">QCM</a></p>

<b>QCM</b>
<ul>
    <li>Version latest</li>
    <p><a href="{{ scheme }}://{{qcm_server}}/latest">Front Angular </a></p>
    <p><a href="{{ scheme }}://{{qcm_server}}/v1/api">Open Api</a></p>
</ul>

{% else  %}
<b>Application</b>
<ul>
    <li><a href="{{ scheme }}://{{keycloak_server}}">SSO Keycloak</a></li>
    <li><a href="{{ scheme }}://{{nexus_server}}/nexus">Nexus</a></li>
</ul>
<ul>
    <li><a href="{{ scheme }}://{{qcm_server}}/latest">Qcm Angular latest </a></li>
    <li><a href="{{ scheme }}://{{qcm_server}}/swagger-ui/index.html?configUrl=/v3/api-docs/swagger-config">Qcm Open Api latest</a></li>
</ul>
<ul>
    <li><a href="{{ scheme }}://{{qcm_server}}/admin">Spring boot admin latest </a></li>
    <li><a href="{{ scheme }}://{{qcm_server}}/prometheus">Prometheus</a></li>
    <li><a href="{{ scheme }}://{{qcm_server}}/grafana">Grafana</a></li>
</ul>CD CEN
{% endif  %}
